<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  {% if page.id %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Mubaris_NK">
    <meta name="twitter:creator" content="@Mubaris_NK">
    <meta name="twitter:title" content="{{ page.title }} by {{ page.author }}">
    <meta name="twitter:description" content="{{ page.content | truncatewords: 30 | strip_html }}">
    {% if page.twimg %}
      <meta name="twitter:image" content="{{ page.twimg }}">
    {% else %}
      <meta name="twitter:image" content="https://i.imgur.com/YRWkl6Z.png">
    {% endif %}
  {% else %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Mubaris_NK">
    <meta name="twitter:creator" content="@Mubaris_NK">
    <meta name="twitter:title" content="{{ page.title }} by {{ page.author }}">
    <meta name="twitter:description" content="{{ page.content | truncatewords: 30 | strip_html }}">
    <meta name="twitter:image" content="https://i.imgur.com/YRWkl6Z.png">
  {% endif %}
  <!-- Mathjax -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700" rel="stylesheet">
  <!-- MailChimp -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  </style>
  {% seo %}
</head>
